# Read environmental data from an online source (Script)

In this example we will learn to download data from the Kansas mesonet. Data can be accessed through a URL (Uniform Resource Locator), which is also known as a web address. In this URL we are going to pass some parameters to specify the location, date, and interval of the data. For services that output their data in comma-separated values we can use the Pandas library.


**Note**:Some web services (e.g. openweathermap or dark sky) require a token (a user-specific key similar to a password) in order to use the service. Depending on the amount of data requested you might be able to use the service for free.


Representational State Transfer (REST). Find out more at <https://www.wikiwand.com/en/Representational_state_transfer>

Kansas mesonet REST API: http://mesonet.k-state.edu/rest/

Author: Andres Patrignani <br/>
Last updated: 14-Oct-2018

In [1]:
# Import packages
import pandas as pd

In [35]:
stn = 'Manhattan';
interval = 'day'; # Options: day, hour, 5min;
start_time = '20181001000000';
end_time = '20181007000000';

root = 'http://mesonet.k-state.edu/rest/stationdata/?'
url = root + 'stn=' + stn + '&int=' + interval + '&t_start=' + start_time + '&t_end=' + end_time;
print(url)

http://mesonet.k-state.edu/rest/stationdata/?stn=Manhattan&int=day&t_start=20181001000000&t_end=20181007000000

In [36]:
# Let's inspect the first five rows
df = pd.read_csv(url)
df.head(3)

,TIMESTAMP,STATION,PRESSUREAVG,PRESSUREMAX,PRESSUREMIN,SLPAVG,TEMP2MAVG,TEMP2MMIN,TEMP2MMAX,TEMP10MAVG,...,SOILPA20CM,SOILPA50CM,SOILVR5CM,SOILVR10CM,SOILVR20CM,SOILVR50CM,VWC5CM,VWC10CM,VWC20CM,VWC50CM
0,2018-10-01 00:00:00,Manhattan,97.89,98.05,97.77,101.79,15.28,14.19,16.83,15.00,...,1.8010,2.1369,1.2035,1.2586,1.4377,2.1228,0.2367,0.2878,M,0.5141
1,2018-10-02 00:00:00,Manhattan,97.89,98.07,97.74,101.76,17.59,13.66,23.81,17.32,...,1.7970,2.1350,1.2093,1.2613,1.4347,2.1165,0.2391,0.2880,0.3727,0.5134
2,2018-10-03 00:00:00,Manhattan,97.63,98.05,97.18,101.48,21.65,12.30,31.47,21.48,...,1.7947,2.1339,1.2148,1.2632,1.4373,2.1144,0.2398,0.2867,0.3714,0.5129

In [26]:
print(df.shape)
print(df.size)

(7, 60)
420

In [15]:
# Let's also inspect the format of some variables
print(type(df.TIMESTAMP[0]))
print(type(df.PRESSUREAVG[0]))

<class 'str'>
<class 'numpy.float64'>

In [32]:
df['TIMESTAMP'] = pd.to_datetime(df.TIMESTAMP[0], format='%Y-%m-%d')
print(type(df.TIMESTAMP[0]))
df.head(5)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

,TIMESTAMP,STATION,PRESSUREAVG,PRESSUREMAX,PRESSUREMIN,SLPAVG,TEMP2MAVG,TEMP2MMIN,TEMP2MMAX,TEMP10MAVG,...,SOILPA20CM,SOILPA50CM,SOILVR5CM,SOILVR10CM,SOILVR20CM,SOILVR50CM,VWC5CM,VWC10CM,VWC20CM,VWC50CM
0,2018-10-01,Manhattan,97.89,98.05,97.77,101.79,15.28,14.19,16.83,15.00,...,1.8010,2.1369,1.2035,1.2586,1.4377,2.1228,0.2367,0.2878,M,0.5141
1,2018-10-01,Manhattan,97.89,98.07,97.74,101.76,17.59,13.66,23.81,17.32,...,1.7970,2.1350,1.2093,1.2613,1.4347,2.1165,0.2391,0.2880,0.3727,0.5134
2,2018-10-01,Manhattan,97.63,98.05,97.18,101.48,21.65,12.30,31.47,21.48,...,1.7947,2.1339,1.2148,1.2632,1.4373,2.1144,0.2398,0.2867,0.3714,0.5129
3,2018-10-01,Manhattan,96.95,97.85,96.55,100.66,25.48,15.89,33.31,25.47,...,1.7935,2.1328,1.2442,1.2716,1.4483,2.1187,0.2506,0.2860,0.3704,0.5124
4,2018-10-01,Manhattan,97.99,98.43,97.62,101.92,11.82,7.21,15.96,11.57,...,1.7859,2.1335,1.2670,1.2453,1.4348,2.1280,0.2779,0.2786,0.3666,0.5125

In [13]:
test_date = pd.to_datetime(datatable.TIMESTAMP[0])
#test_date = pd.to_datetime(datatable.TIMESTAMP[0], format='%Y-%m-%d')
print(test_date.day)
print(test_date.minute)

1
0

In [34]:
import datetime

start_date = datetime.datetime(2018, 6, 1, 8, 0, 0)
print(start_date.strftime('%Y%m%d%H%M%S'))
print(start_date.strftime('%Y-%m-%d %H:%M:%S'))

20180601080000
2018-06-01 08:00:00